/**********************************
Luis Manuel González Baizán
**********************************/

/*Specificity: 0,0,1*/
body {
    font-size: 0.9375em;
    font-weight: 300;
    color: black;
    background-color: rgb(251, 242, 234);
    margin: 1.5625em 3.125em;
}

/*Specificity: 0,0,1*/
header{
    display: flex;
    background-color: rgb(40, 37, 37);
    border-radius: 1.35em;
    color: white;
    padding: 0.475em;
}

/*Specificity: 0,0,2*/
header h1{
    float: left;
    display: flex;
    align-items: center;
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
    
}

/*Specificity: 0,0,3*/
header nav ul{
    float:right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Specificity: 0,0,3*/
header nav li{
    list-style: none;
}

/*Specificity: 0,0,4*/
header nav li a{
    display: block;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 2em;
}

/*Specificity: 0,1,4*/
header nav li a:hover{
    color:rgb(244, 168, 110);
}

/*Specificity: 0,1,0*/
.intro{
    overflow: auto;
    margin: 1.5625em 3.125em;
}

/*Specificity: 0,1,1*/
/*Specificity: 0,0,1*/
/*Specificity: 0,0,1*/
.intro h2, p, iframe{
    margin-left: 1em;
}

/*Specificity: 0,1,1*/
.intro picture{
    float: left;
    margin-right: 1em;
}

/*Specificity: 0,1,1*/
.hobbies figure{
    display: flex;
    /*width: 18.75em;
    height: 13.438em;*/
    width: 37.5em;
    height: 26.875em;
}

/*Specificity: 0,1,1*/
.hobbies img{
    width: 0em;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

/*Specificity: 0,2,1*/
.hobbies img:hover{
    cursor:crosshair;
    width: 18.75em;
    opacity: 1;
    filter: contrast(120%);
}

/*Specificity: 0,0,1*/
footer{
    color: white;
    background-color: rgb(40, 37, 37);
    text-align: center;
    font-size: medium;
    border-radius: 1.35em;
}

/*Specificity: 0,0,2*/
footer li{
    list-style: none;
}

/*Specificity: 0,0,3*/
footer li a{
    color:rgb(164, 192, 248);
}